

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


body{
  font-family:'Courier New', Courier, monospace;
  color: yellow;

}

header{
  position: fixed;
  right: 0;
  top: 30px;
  /* un altro modo TOP:0 LEFT:0 E UL: FLOAT :RIGHT */
  z-index: 999;
}

section.box{
  height: 100vh;
  position: relative;
  background-color: red;
}



h2{
  font-size: 5vw;
  font-weight: bolder;
  text-transform: uppercase;
}




/* HEADER */



header nav ul{
  list-style: none;
}

ul li{
  display: inline-block;

}


ul li .push{
  background-color: white;
  margin-right: 30px;
  line-height: 100%;
  border-radius: 50%;
  padding: 10px 15px;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, .5);
}




ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul li .push:hover{
  background-color: rgba(255, 255, 255, .6);
}

ul li:active{
  position: relative;
  top: 5px;
  /* altro metodo TRANSFORM: TRANSLATE ( OPX , 5PX) */

}




/* MAIN */

#pagina-2{
  background-color: green;
}


#pagina-3{
  background-color: yellow;
}

.box-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#different{
  color: green;
}

.box-img img{
  width: 100%;
}



